@model DataCollection<ProductsApp.Data.Entities.Product>;
@{
    ViewData["Title"] = "Productos";
}

<div class="container-fluid justify-content-center" style="max-width: 75ch">
    <h1 class="display-5 text-center">Poductos</h1>
    <div class="container-fluid px-0">
        <a class="btn btn-primary btn-sm" role="button" asp-controller="Home" asp-action="CreateProduct">Nuevo producto</a>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Items) {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (!Model.HasItems)
    {
        <div class="alert alert-info fw-bold text-center" role="alert">
            No se encontraron productos
        </div>
    }

    <nav>
        <ul class="pagination justify-content-end">
            
            <li class="page-item @(Model.Page > 1 ? "" : "disabled")">
                <a class="page-link">Anterior</a>
            </li>
            @for (var i = 1; i <= Model.Pages; i++)
            {
                <li class="page-item @(Model.Page == i ? "active" : "")">
                    <a class="page-link">@i</a>
                </li>
            }
            <li class="page-item @(Model.Page < Model.Pages ? "" : "disabled")">
                <a class="page-link" href="#">Siguiente</a>
            </li>
        </ul>
    </nav>
    
</div>
